/********* Accessibilité *********/

// Hide only visually, but have it available for screenreaders:
// http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
@mixin screen-reader-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;

    // Extends the .visuallyhidden class to allow the element to be focusable
    // when navigated to via the keyboard: https://www.drupal.org/node/897638
    &.focusable:active,
    &.focusable:focus {
        clip: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        position: static;
        width: auto;
    }
}

.visuallyhidden,
.screen-reader-only {
    @include screen-reader-only;
}


/******** Typographie *********/
// Fonction pour convertir une valeur de font-size en pixels à son équivalent rem
@function calculateRem($size) {
    $remSize: $size / 10px;
    @return #{$remSize}rem;
}

@mixin fontSize($size) {
    font-size: $size;
    font-size: calculateRem($size);
}
//To use function : @include fontSize(16px);


/******** Media Queries *********/
@mixin small {
    @media (min-width: #{$small}) {
        @content;
    }
 }
 
 @mixin tablet {
    @media (min-width: #{$medium}) {
        @content;
    }
 }
 
 @mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
 }
 
 @mixin desktop-large {
    @media (min-width: #{$large}) {
        @content;
    }
 }