//Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Heebo:wght@900&family=Pacifico:wght@400&display=swap');

//Primary Font
@mixin primaryFont {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-display: swap;
}

@mixin primaryFont-medium {
	@include primaryFont;
	font-weight: 500;
}

@mixin primaryFont-semibold {
	@include primaryFont;
	font-weight: 600;
}

@mixin primaryFont-bold {
	@include primaryFont;
	font-weight: 700;
}

//Secondary Font
@mixin secondaryFont {
	font-family: 'Heebo', sans-serif;
	font-weight: 900;
	font-display: swap;
	line-height: 65px;
}

//Secondary Font
@mixin thirdFont {
	font-family: 'Pacifico', cursive;
	font-display: swap;
}

//Colors
$white: #fff;
$black: #000;
$blue: #1a73e8;
$red: #ff0000;
$orange: #f7931e;
$darkGray: #737373;
$lightGray: #fafafa;
$darkGrey: #515151;
$alto: #afafaf;
$facebook: #1877f2;

//Media querys
$small: 576px;
$medium: 768px;
$desktop: 992px;
$large: 1200px;
