.passwordReset {
	max-width: 550px;
	margin: 25px auto;
	border-radius: 8px;

	.error {
		display: flex;
		align-items: center;
		color: $red;
		margin-bottom: 6px;

		&--account {
			padding-left: 25px;
			margin-top: 15px;
		}

		&:before {
			content: "";
			background-image: url("/icons/incorrect.svg");
			background-repeat: no-repeat;
			background-size: cover;
			min-width: 16px;
			height: 16px;
			margin-right: 8px;
			display: inline-block;
		}
	}
}
