.portfolio {
	padding: 0 15px;

	@include desktop {
		padding: 0;
	}

	&__userInfos {
		&__header {
			display: flex;
			margin-bottom: 45px;
			flex-direction: column;

			@include tablet {
				flex-direction: row;
				margin-bottom: 35px;
			}

			.picture {
				border-radius: 50%;
				width: 170px;
				height: 170px;
			}

			.name {
				padding-top: 15px;

				@include tablet {
					margin-left: 40px;
				}

				.first_name {
					display: block;
					color: $darkGray;
					@include fontSize(28px);
					line-height: 28px;

					@include tablet {
						@include fontSize(45px);
						line-height: 45px;
					}
				}

				.last_name {
					display: block;
					@include fontSize(45px);
					@include thirdFont;
					line-height: 45px;

					@include tablet {
						@include fontSize(75px);
						line-height: 75px;
					}
				}
			}
		}

		&__details {
			color: $darkGray;

			.info {
				display: flex;
				align-items: center;
				font-weight: 700;

				&__icon {
					width: 22px;
					height: 22px;
					margin-right: 8px;
				}

				&__description {
					max-width: 650px;
				}
			}

			.tags {
				max-width: 370px;
				display: flex;
				flex-wrap: wrap;

				&__tag {
					margin-right: 8px;
					font-weight: 700;
				}
			}
		}
	}

	&__skills {
		display: grid;
		margin: 50px 0;
		grid-template-columns: 100%;

		@include small {
			margin: 75px 0;
			grid-template-columns: 50% 50%;
		}

		@include desktop {
			grid-template-columns: 25% 25% 25% 25%;
		}

		&__skill {
			display: flex;
			flex-direction: column;
			padding: 25px 15px;

			.picture {
				width: 120px;
				height: 120px;
				margin: 0 auto;
			}

			.title {
				text-align: center;
				margin: 12px 0;
			}
		}
	}

	&__projects {
		&__project {
			display: flex;
			margin-bottom: 75px;
			position: relative;
			flex-direction: column-reverse;

			@include tablet {
				margin-bottom: 30px;
				flex-direction: row;
			}

			.ancre {
				position: absolute;
				top: -85px;
			}

			.slider {
				margin-right: 35px;
			}

			.projectInfos {
				margin-top: 35px;
				margin-bottom: 30px;
			}
		}
	}
}
