html {
	background-color: $white;
}

html,
body {
	overflow-x: hidden;
	position: relative;
	margin: 0;
	height: 100vh;
}

.no-scroll {
	overflow: hidden;
	position: fixed;
	width: 100%;
}

.shadow {
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.45);
}

.border-radius {
	border-radius: 8px;
}

.container {
	max-width: 1170px;
	margin: 0 auto;
}

.p-relative {
	position: relative;
}
