html {
	background-color: $white;
}

html,
body {
	overflow-x: hidden;
	position: relative;
	margin: 0;
}

.no-scroll {
	overflow: hidden;
	position: fixed;
	width: 100%;
}

.shadow {
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16);
}

.container {
	max-width: 1170px;
	margin: 0 auto;
}
