html {
	font-size: 62.5%;
}
body {
	@include fontSize(14px);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

h1,
h2 {
	@include primaryFont-bold;
}

h4,
h5,
h6 {
	@include primaryFont-bold;
}

a,
p,
ul li,
label,
input,
h4,
h5,
h6 {
	@include fontSize(16px);
	@include primaryFont;
}

a,
li a,
p a {
	text-decoration: none;
	color: $blue;

	&:hover {
		text-decoration: underline;
	}
}

h1,
.h1 {
	@include fontSize(60px);
	@include secondaryFont;
}

h2,
.h2 {
	@include fontSize(22px);
	@include primaryFont-bold;
}

h3,
.h3 {
	@include fontSize(20px);
	@include primaryFont-bold;
}

h4,
.h4 {
	@include fontSize(18px);
	@include primaryFont-semibold;
}

@media (min-width: $desktop) {
	h1,
	.h1 {
		@include fontSize(60px);
	}

	h2,
	.h2 {
		@include fontSize(25px);
	}

	h3,
	.h3 {
		@include fontSize(20px);
	}

	h4,
	.h4 {
		@include fontSize(18px);
	}
}

.bold {
	font-weight: 600;
}

.italic {
	font-style: italic;
}
